<!DOCTYPE html>
<html>
<head>
    <title>Angular Tablesort - Advanced</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="tablesort.css"/>
    <style>.ng-cloak,[ng-cloak]{display:none;}</style>
</head>
<body>

<div ng-app="myApp" class="container" ng-cloak>
    <div ng-controller="tableTestCtrl" >

        <div class="alert alert-info">
            <h4><span class="glyphicon glyphicon-info-sign"></span> About Pagination</h4>
            <p>This demo page has examples that use the <a href="http://angular-ui.github.io/bootstrap/#/pagination" class="alert-link" target="_blank">Angular-UI Bootstrap pagination directive</a>, but really any pagination directive could be used here</p>
        </div>

        <hr />

        <h2>With configured Filtering, Pagination, and Item Name</small></h2>
        <table class="table table-striped" ts-wrapper ts-item-name="product">
            <thead>
                <tr>
                    <th>Select</th>
                    <th ts-criteria="Id" ts-filter>Id</th>
                    <th ts-criteria="Name|lowercase" ts-filter ts-default>Name</th>
                    <th ts-criteria="Price|parseFloat" ts-filter>Price</th>
                    <th ts-criteria="Quantity|parseInt" ts-filter>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tableOneItems track by item.Id"
                    ng-class="{'active':item.Selected}"
                    ts-repeat>
                    <td><input type="checkbox" ng-model="item.Selected" /></td>
                    <td>{{item.Id}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Price | currency}}</td>
                    <td>{{item.Quantity}}</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <h2>Custom Filtering UI, filter function, & "no data" message</small></h2>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6">
                <div class="form-group has-feedback">
                    <label for="cstm-filter-name" class="control-label">Name</label>
                    <input type="search" id="cstm-filter-name" class="form-control" ng-model="customNameFilter" />
                    <span class='glyphicon glyphicon-search form-control-feedback' aria-hidden='true'></span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="form-group">
                    <label for="cstm-filter-price" class="control-label">Price</label>
                    <select id="cstm-filter-price" class="form-control" ng-model="customPriceFilter">
                        <option value="">All</option>
                        <option value="under20">Under $20</option>
                        <option value="20to50">Between $20 and $50</option>
                        <option value="over50">Over $50</option>
                    </select>
                </div>
            </div>
        </div>

        <table class="table table-striped" ts-wrapper ts-display-filtering="false" ts-filter-function="customFilterFn" ts-no-data-text="Nothing to see here!">
            <thead>
                <tr>
                    <th>Select</th>
                    <th ts-criteria="Id" ts-filter>Id</th>
                    <th ts-criteria="Name|lowercase" ts-filter ts-default>Name</th>
                    <th ts-criteria="Price|parseFloat" ts-filter>Price</th>
                    <th ts-criteria="Quantity|parseInt" ts-filter>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tableTwoItems track by item.Id"
                    ng-class="{'active':item.Selected}"
                    ts-repeat>
                    <td><input type="checkbox" ng-model="item.Selected" /></td>
                    <td>{{item.Id}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Price | currency}}</td>
                    <td>{{item.Quantity}}</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <h2>Disabled filtering &amp; paging</h2>
        <table class="table table-striped" ts-wrapper ts-display-filtering="false" ts-display-pagination="false">
            <thead>
                <tr>
                    <th>Select</th>
                    <th ts-criteria="Id" ts-filter ts-default>Id</th>
                    <th ts-criteria="Name|lowercase" ts-filter>Name</th>
                    <th ts-criteria="Price|parseFloat" ts-filter>Price</th>
                    <th ts-criteria="Quantity|parseInt" ts-filter>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tableThreeItems track by item.Id"
                    ng-class="{'active':item.Selected}"
                    ts-repeat>
                    <td><input type="checkbox" ng-model="item.Selected" /></td>
                    <td>{{item.Id}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Price | currency}}</td>
                    <td>{{item.Quantity}}</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <h2>Different per-page options</h2>
        <table class="table table-striped" ts-wrapper ts-per-page-options="customPerPageOptions" ts-per-page-default="customPerPageDefault">
            <thead>
                <tr>
                    <th>Select</th>
                    <th ts-criteria="Id" ts-filter>Id</th>
                    <th ts-criteria="Name|lowercase" ts-filter ts-default>Name</th>
                    <th ts-criteria="Price|parseFloat" ts-filter>Price</th>
                    <th ts-criteria="Quantity|parseInt" ts-filter>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tableFourItems track by item.Id"
                    ng-class="{'active':item.Selected}"
                    ts-repeat>
                    <td><input type="checkbox" ng-model="item.Selected" /></td>
                    <td>{{item.Id}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Price | currency}}</td>
                    <td>{{item.Quantity}}</td>
                </tr>
            </tbody>
        </table>
        <hr />

        <h2>With special event names and no pagination (see console for events)</small></h2>
        <table class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th ts-criteria="Id" ts-name="id">Id</th>
                    <th ts-criteria="Name|lowercase" ts-name="name" ts-default>Name</th>
                    <th ts-criteria="Price|parseFloat" ts-name="price">Price</th>
                    <th ts-criteria="Quantity|parseInt" ts-name="quantity">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in tableFiveItems track by item.Id"
                    ts-repeat>
                    <td>{{item.Id}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Price | currency}}</td>
                    <td>{{item.Quantity}}</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <h2>Custom table layout without a header</h2>
        <table class="table table-striped" ts-wrapper ts-item-name="product" ts-filter-fields="Name">
            <tbody>
                <tr ng-repeat="item in tableOneItems track by item.Id"
                    ts-repeat>
                    <td>
                        <div>
                            <label>Name</label> <input type="text" class="form-control" ng-model="item.Name" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <label>Id</label> {{item.Id}}
                        </div>
                        <div>
                            <label>Price</label> {{item.Price | currency}}
                        </div>
                        <div>
                            <label>Qty</label> {{item.Quantity}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
<script src="js/angular-tablesort.js"></script>
<script>
    function getFakeData(count){
        var items = [];
        var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
        function getRandLetter(){
            return charset.charAt(Math.floor(Math.random() * charset.length));
        }
        for(var i = 0; i < count; i++){
            var idStr = (i < 10 ? "0" + i : i).toString();
            var nameStr = getRandLetter() + getRandLetter() + getRandLetter();
            var priceStr = (Math.random()*100).toFixed(2);
            var qty = Math.floor(Math.random() * (25 - 1 + 1) + 1);
            items.push({
                Id: idStr,
                Name: nameStr,
                Price: priceStr,
                Quantity: qty,
                selected: false
            });
        }
        return items;
    }

    angular
        .module( 'myApp', ['tableSort', 'ui.bootstrap'] )
        .controller( "tableTestCtrl", function tableTestCtrl($scope)  {
          $scope.$on('tablesort:sortOrder', (event, sortOrder) => {
            console.log('tablesort:sortOrder event', sortOrder);
          });
            //Generate some fake data
            $scope.tableOneItems = getFakeData(10000);
            $scope.tableTwoItems = getFakeData(100);
            $scope.tableThreeItems = getFakeData(12);
            $scope.tableFourItems = getFakeData(100);
            $scope.tableFiveItems = getFakeData(20);

            $scope.customPerPageOptions = [20,40,60];
            $scope.customPerPageDefault = 40;

            //Custom filter stuff (tableTwoItems)
            $scope.customNameFilter = "";
            $scope.customPriceFilter = "";
            $scope.customFilterFn = function(item) {
                var nameMatch = item.Name.toLowerCase().indexOf($scope.customNameFilter.toLowerCase()) > -1;
                var priceMatch = true;

                if($scope.customPriceFilter==="under20"){
                    priceMatch = item.Price < 20;
                }else if($scope.customPriceFilter==="20to50"){
                    priceMatch = item.Price >= 20 && item.Price <= 50;
                } else if($scope.customPriceFilter==="over50"){
                    priceMatch = item.Price > 50;
                }

                return nameMatch && priceMatch;
            };
        });

    angular
        .module('myApp')
        .config(['tableSortConfigProvider', function(tableSortConfigProvider){
            //Globally configured filtering & pagination templates

            /* Template Tokens - all are replaced by Angular expressions
             * TOTAL_COUNT         - The number for the total count of items in the table
             * FILTERED_COUNT      - The number for the total count of items in the table after the filter has been applied
             * FILTER_STRING       - The string used for the `ng-model` of the text filter
             * PER_PAGE_OPTIONS    - The array of numbers for the verious page size options
             * ITEMS_PER_PAGE      - The number for the selected number of items to display per page (the selected item from PER_PAGE_OPTIONS)
             * CURRENT_PAGE_NUMBER - The number for the page that is currently being viewed
             * CURRENT_PAGE_RANGE  - The number for the current viewable range of pages
             * ITEM_NAME_SINGULAR  - The singular version of the name of the items being iterated over
             * ITEM_NAME_PLURAL    - The plural version of the name of the items being iterated over
             */

            var filterString = "<div class='row'>";
            filterString +=      "<div class='col-sm-4 col-md-3 col-sm-offset-8 col-md-offset-9'>";
            filterString +=        "<div class='form-group has-feedback'>";
            filterString +=          "<input type='search' class='form-control' placeholder='filter {{ITEM_NAME_PLURAL}}' ng-model='FILTER_STRING'/>";
            filterString +=          "<span class='glyphicon glyphicon-search form-control-feedback' aria-hidden='true'></span>";
            filterString +=        "</div>";
            filterString +=      "</div>";
            filterString +=    "</div>";
            tableSortConfigProvider.filterTemplate = filterString;

            var pagerString = "<div class='text-right'>";
            pagerString += "<small class='text-muted'>Showing {{CURRENT_PAGE_RANGE}} {{FILTERED_COUNT === 0 ? '' : 'of'}} ";
            pagerString +=        "<span ng-if='FILTERED_COUNT === TOTAL_COUNT'>{{TOTAL_COUNT | number}} {{TOTAL_COUNT === 1 ? ITEM_NAME_SINGULAR : ITEM_NAME_PLURAL}}</span>";
            pagerString +=        "<span ng-if='FILTERED_COUNT !== TOTAL_COUNT'>{{FILTERED_COUNT | number}} {{FILTERED_COUNT === 1 ? ITEM_NAME_SINGULAR : ITEM_NAME_PLURAL}} (filtered from {{TOTAL_COUNT | number}})</span>";
            pagerString +=      "</small>&nbsp;";
            pagerString +=      "<uib-pagination style='vertical-align:top; margin-top:0;' ng-if='ITEMS_PER_PAGE < TOTAL_COUNT' ng-model='CURRENT_PAGE_NUMBER' total-items='FILTERED_COUNT' items-per-page='ITEMS_PER_PAGE' max-size='5' force-ellipses='true'></uib-pagination>";
            pagerString +=      "&nbsp;";
            pagerString +=      "<div class='form-group' style='display:inline-block;'><select class='form-control' ng-model='ITEMS_PER_PAGE' ng-options='opt as (opt + \" per page\") for opt in PER_PAGE_OPTIONS'></select></div>";
            pagerString +=    "</div>";
            tableSortConfigProvider.paginationTemplate = pagerString;
        }
    ]);
</script>
</body>
</html>
