<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>angular-tablesort</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="tablesort.css">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">angular-tablesort</a>
        </div>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>AngularJS tablesort made easy</h1>

        <p>Make it possible to sort your AngularJS tables without
            writing any javascript code.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Introduction</h2>

            <p>I use tables a lot to present data to the user. Most of the time, I want to allow the user to sort the
                table on the data in the columns by clicking on the table headers. When I used jQuery as the basis for
                my web-pages, I used <a href="http://tablesorter.com/docs/">jQuery tablesorter</a> to make most of the
                tables sortable. For simple tables, this meant adding one line of javascript to tell jQuery tablesorter
                which tables to sort.</p>

            <p>With AngularJS, it is fairly easy to make tables sortable, but I wanted something as simple as jQuery
                tablesorter. This is why I wrote angular-tablesort.</p>

            <h2>Features</h2>
            <ul>
                <li>Sort by a column by clicking the header for that column</li>
                <li>Toggle between ascending and descending order by clicking the header again</li>
                <li>Sort by multiple columns by holding shift while clicking</li>
                <li>The sort expression is decoupled from the content of the cells. This allows you to sort for example
                    dates in correct order
                </li>
                <li>Add a default row to empty tables to signal that the table shall be empty</li>
            </ul>
            <h2>Sample table</h2>

            <div ng-app="myApp">
                <div ng-controller="tableTestCtrl">
                    <table class="table" ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="Id">Id</th>
                            <th ts-criteria="Name|lowercase" ts-default>Name</th>
                            <th ts-criteria="Price|parseFloat">Price</th>
                            <th ts-criteria="Quantity|parseInt">Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items" ts-repeat>
                            <td>{{item.Id}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Price | currency}}</td>
                            <td>{{item.Quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                </div>
            </div>
            <h2>Usage</h2>

            <p>The table shown above was generated by the following code:</p>

	  <pre>
&lt;table class="table" <b>ts-wrapper</b>&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th <b>ts-criteria</b>="Id"&gt;Id&lt;/th&gt;
      &lt;th <b>ts-criteria</b>="Name|lowercase" <b>ts-default</b>&gt;Name&lt;/th&gt;
      &lt;th <b>ts-criteria</b>="Price|parseFloat"&gt;Price&lt;/th&gt;
      &lt;th <b>ts-criteria</b>="Quantity|parseInt"&gt;Quantity&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr ng-repeat="item in items" <b>ts-repeat</b>&gt;
      &lt;td&gt;{{item.Name}}&lt;/td&gt;
      &lt;td&gt;{{item.Price | currency}}&lt;/td&gt;
      &lt;td&gt;{{item.Quantity}}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</pre>

            <p>The <code>ts-wrapper</code> attribute must be set on
                element that surrounds both the headings and the ng-repeat
                statement.</p>

            <p>The <code>ts-criteria</code> attribute tells tablesort
                which expression it should sort on when that element is
                clicked. Normally, the ts-criteria is the same as the
                expression that is shown in the column, but it doesn't
                have to be. The ts-criteria can also be filtered using the
                normal AngularJS filter syntax. Tablesort includes two
                filters parseInt and parseFloat that use the javascript
                functions of the same name, but any filter can be
                used.</p>

            <p>The <code>ts-default</code> attribute can be set on one
                or more columns to sort on them by default. To sort in descending order,
                set <code>ts-default</code> to "descending"</p>

            <p>The <code>ts-repeat</code> attribute must be set on the
                element with ng-repeat.</p>

            <p>You must also make sure that your app depends on <code>tableSort</code>:</p>
<pre>
var myApp = angular.module( 'myApp', ['tableSort' ] );
</pre>
            <h2>CSS</h2>

            <p>All table headings that can be sorted on is styled with
                css-class <code>tablesort-sortable</code>. The table
                headings that the table is currently sorted on is styled
                with <code>tablesort-asc</code>
                or <code>tablesort-desc</code> classes depending on the
                sort-direction. A stylesheet is included to show that it
                works, but you probably want to build your own.</p>

            <p>
                The content and look of the default data for empty tables
                is controlled via css. It is inserted as one empty <code>&lt;td&gt;</code>
                spanning all columns and placed inside a <code>&lt;tr&gt;</code> with class
                <code>showIfLast</code>. The <code>&lt;tr&gt;</code> is placed at the top of
                each table. A sample style for showIfLast can be found in
                <code><a href="tablesort.css">tablesort.css</a></code>
            </p>

            <h2>License</h2>
<pre>
The MIT License

Copyright (c) 2013 Mattias Holmlund, <a href="http://www.holmlund.se/mattias">http://www.holmlund.se/mattias</a>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</pre>
            <h2>Download</h2>

            <p>The code is available
                on <a href="https://github.com/mattiash/angular-tablesort">github</a>.</p>

            <h2>bower</h2>
<pre>
bower install angular-tablesort
</pre>
        </div>
    </div>
</div>
<!-- /container -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="js/angular-tablesort.js"></script>
<script>
    var myApp = angular.module('myApp', ['tableSort' ]);

    function tableTestCtrl($scope) {
        $scope.items = [
            {Id: "01", Name: "A", Price: "1.00", Quantity: "1"},
            {Id: "02", Name: "B", Price: "10.00", Quantity: "1"},
            {Id: "04", Name: "C", Price: "9.50", Quantity: "10"},
            {Id: "03", Name: "a", Price: "9.00", Quantity: "2"},
            {Id: "06", Name: "b", Price: "100.00", Quantity: "2"},
            {Id: "05", Name: "c", Price: "1.20", Quantity: "2"}
        ];
    }
</script>

</html>
