<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <style type="text/css">
    th.sorttable-desc {
      background-color: #F00;
    }
    th {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  </style>
</head>
<body>

<div ng-app="myApp">
  <br /><br />
  <div ng-controller="ShoppingCartCtrl">        
    <h1>Table 1</h2>

    <table border="1" sorttable>
      <thead>
	<tr>
	  <th sort="Name">Name</th>
	  <th sort="Price">Price</th>
	  <th sort="Quantity">Quantity</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="item in items | orderBy:mySortFunction">
	  <td>{{item.Name}}</td>
	  <td>{{item.Price | currency}}</td>
	  <td>{{item.Quantity}}</td>
	</tr>
      </tbody>
    </table>

    <h1>Sorttable</h2>
    <table border="1" sorttable>
      <thead>
	<tr>
	  <th sort="Name">Name</th>
	  <th sort="Price">Price</th>
	  <th sort="Quantity">Quantity</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="item in items" sorttablerepeat>
	  <td>{{item.Name}}</td>
	  <td>{{item.Price | currency}}</td>
	  <td>{{item.Quantity}}</td>
	</tr>
      </tbody>
    </table>
    <br />
  </div>
</div>

<script src="vendor/angular.min.js"></script>
<script src="js/table.js"></script>
</body>
</html>
